:root {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("https://i.imgur.com/jgfv8g0.png");
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
  color: #1a1a1a;
}

h1,
h2 {
  text-align: center;
}

button:disabled {
  background-color: grey;
}

button {
  border: none;
  width: fit-content;
  min-width: 8em;
  max-width: 90%;
  border-radius: 0.8vmin;
  display: inline-flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  gap: 1em;
  background: #1c1a1c;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  font-weight: 800;
  color: whitesmoke;
  padding: 0.5vmin 1.5vmin;
  font-size: 2vmin;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

button:hover {
  background: linear-gradient(0deg, #2f4d8f, #060164);
  box-shadow: inset 0px 1px 0px 0px rgba(61, 24, 184, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #2904a2;
  transform: translateY(-2px);
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.5vmin solid #1a1a1a;
  border-radius: 5vmin;
}

input,
select,
textarea {
  padding: 0.7vmin;
  font-size: 2vmin;
  border: 0.3vmin solid #1a1a1a;
  border-radius: 0.5vmin;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.error-message {
  color: rgb(166, 29, 29);
}

.disclaimer {
  padding: 3rem;
}
